body {
    margin-top: 50px;
}

.jumbotron .container {
    opacity: 0;
    transform: translate(0px, -50px);
    transition: 1.3s;
}

.jumbotron .container.load {
    opacity: 1;
    transform: translate(0, 0);
}

.jumbotron img {
    width: 25%;
}

.portfolio .card {
    opacity: 0;
    transform: translate(0px, -30px);
    transition: 1s;
}

.portfolio .card.load {
    opacity: 1;
    transform: translate(0, 0);
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top: 12px;
}